//////////////////////////////
//// Mixins //////////////////

 @mixin border-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
 }

 @mixin drop-shadow($query){
    -webkit-box-shadow:$query;
    -moz-box-shadow:$query;
    box-shadow:$query;
 }

 @mixin animation($animation) {
  -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
    -ms-animation: #{$animation};
    animation: #{$animation};
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}


 @mixin transition($query){
    -webkit-transition: $query;
    -moz-transition:$query;
    -ms-transition:$query;
    -o-transition:$query;
    transition:$query;

 }

 @mixin vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

 @mixin box-shadow($value,$color){
    -moz-box-shadow: 0 0 $value $color;
    -webkit-box-shadow: 0 0 $value $color;
    box-shadow: 0 0 $value $color;
 }

@mixin box-shadow-all($query){
    -moz-box-shadow:$query;
    -webkit-box-shadow:$query;
    box-shadow:$query;
 }

 @mixin gradiant($color1,$color2){
    background: $color1;
    background: -moz-linear-gradient(top,  $color1 1%, $color2 99%);
    background: -webkit-gradient(linear, left top, left bottom,
                color-stop(1%,$color1), color-stop(99%,#219ce2));
    background: -webkit-linear-gradient(top,  $color1 1%,$color2 99%);
    background: -o-linear-gradient(top,  $color1 1%,$color2 99%);
    background: -ms-linear-gradient(top,  $color1 1%,$color2 99%);
    background: linear-gradient(to bottom,  $color1 1%,$color2 99%);
    filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1',
                endColorstr='$color2',GradientType=0 );
}

@mixin line-gradiant(){
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(214,213,213,1) 51%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(51%, rgba(214,213,213,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(214,213,213,1) 51%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(214,213,213,1) 51%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(214,213,213,1) 51%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(214,213,213,1) 51%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=1 );
}

@mixin shadow(){
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow: 1px 1px 2px 0 #d0d0d0;
}

@mixin circle-no-text($width,$height,$size,$color){

    width:$width;
    height:$height;
    @include border-radius($size);
    background:$color;
}

@-webkit-keyframes progress-bar-stripes
{
    from{background-position:20px 0}
    to{background-position:0 0}
}

@-moz-keyframes progress-bar-stripes
{
    from{background-position:20px 0}
    to{background-position:0 0}
}

@-o-keyframes progress-bar-stripes
{
    from{background-position:20px 0}
    to{background-position:0 0}
}

@keyframes progress-bar-stripes
{
    from{background-position:20px 0}
    to{background-position:0 0}
}
