.slider {
  width: auto;
  margin-top:2em;
}

.slider > .dragger {
  display:none;
  /*background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;*/
}

.slider > .dragger:hover {
  /*background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);*/
}


.slider > .track, .slider > .highlight-track {
  background: $slider_highlight_background;
  /*background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);*/

   @include box-shadow-all(inset 0 2px 4px rgba(0,0,0,0.1));
   @include border-radius(8px);

  border: 1px solid $black;
  height: 0.6em;
}

.slider > .highlight-track {
    @include gradiant($slider_highlight_light,$slider_highlight_dark);
    border-color: $slider_highlight_border;
}

.output{
    display:none;
}

