/////////////////////////////////////////////////
/////  Table of Contents //////////////////////
//
//      Structure            $STRUCTURE
//
/////////////////////////////////////////////////

/////////////////////////////////////////////////
//// background //// $BG
/////////////////////////////////////////////////
*{
    -webkit-font-smoothing: antialiased;
}

.pattern-bg{
     background:$background_pattern $white ;
}

.no-mod{
    overflow: hidden;
}

.no-col-pad{
    padding-left:0;
        padding-right:0;
         @media only screen and (max-width: $small) {
            margin-bottom:0em;
         }
}
.no-col-left-pad{
    padding-left:0.5em;
    padding-right:0;

}.no-col-hd-pad{
    padding-left:0.9em;
    padding-right:0;

    @media only screen and (max-width: $iphone) {
        padding-left:0.5em;
    }

}
.shadow{
    @include shadow;
}


/////////////////////////////////////////////////
//// Buttons//// $BUTTONS
/////////////////////////////////////////////////

.custom-button{
        font-size:1.25em;
        margin:2em auto;
        padding: 14px 57px;
        max-width:20em;
        text-transform: uppercase;
        color:$white;
        display:inline-block;
        text-decoration: none;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #e89200;
        -webkit-box-shadow: inset 0 -4px #cd8100;
        box-shadow: inset 0 -4px #cd8100;
        font-family:'Oswald', Arial, sans-serif;

        &:hover{
            top: 1px;
            -webkit-box-shadow: inset 0 -2px #cd8100;
            box-shadow: inset 0 -2px #cd8100;
            color: #000;
            text-decoration: none;
            text-shadow: none;
        }

        @media only screen and (max-width: $medium) { 
            font-size: 1.0em;     
        }

        @media only screen and (max-width: $small-medium) {
            padding: 12px 50px;
            font-size: 0.9em;
        }

        @media only screen and (max-width: $small) {
            max-width: 20em;
            font-size: 0.85em;
            padding:11px 47px;
            margin:1.2em auto;
        }

        @media only screen and (max-width: $popup-height){
            font-size:0.8em;
            padding:10px 42px;
            margin:1em auto;
        }

        @media only screen and (max-width: $iphone) {
            font-size:0.7em;
        }
}


/////////////////////////////////////////////////
//// Structure //// $STRUCTURE
/////////////////////////////////////////////////

html{
    @media only screen and (max-width: $iphone) {
        overflow-x: hidden;
    }
}

body{
    width:100%;
    background-color:#dddddd;
    font-family:$base_font;
    margin:0;
}

body a{
    text-decoration: none;
}

.row-grid2{
    max-width:66.875em;
}

.padding-none{
    @media only screen and (max-width: $small) {
        padding:0;
    }
}

.keyword{
    font-size:1.5em;
    font-weight:600;
    color:#499BD8;
    margin:15px 0;

    @media only screen and (max-width: $small) {
        font-size:1.2em;
        margin:15px 0;
    }

    @media only screen and (max-width: $x-small) {
        font-size:1.1em;
        margin:12px 0;
    }

    a{
       color:#499BD8;
    }
}

.icons{
    font-size:0.9em;
    color:$player_control_icons;
    line-height:2em;
    text-align:center;
    @media only screen and (min-width: $small) {
        font-size:1.5em;
        line-height:2.8em;
    }
}

.percent-container{
    position:absolute;
    width: 200px;
    height:100px;
    z-index:99999;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;

    @media only screen and (max-width: $iphone) {
        height:70px;
    }

    p{
        color:$percent_counter_color;
        text-align:center;
        width:100%;
        font-size:0.8em;

        .loader{
            @media only screen and (max-width: $iphone) {
                width:40px;
            }
        }

        @media only screen and (max-width: $iphone) {
            font-size:0.6em;
        }
    }
    .percent{
        text-align:center;
        margin-left:0.5em;
        font-weight: bold;
    }
}

.formup .form-container{
    position:relative;
    @media only screen and (min-width: $form_alter) {
        position:absolute;
    }
    label{
        color:#e6e6e6;
    }
}

.runtime{
    font-size:0.8em;
}

.formup .playbutton, .formup .percent-container, .formup .video-img{
    display:none;
    @media only screen and (min-width: $form_alter) {
        display:block;
    }
}

.formup .controls{
    display:none;
    @media only screen and (min-width: $form_alter) {
        display:block;
    }
}

.search-icon{
    cursor:pointer;
}

.form-container{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    height:240px;
    width:460px;
    z-index:99999;
    display:none;
    padding:10px;
    @include gradiant(#ffffff, #f4f5f6);

    @media only screen and (max-width: $medium) {
        height:200px;
        width:410px;
    }

    @media only screen and (max-width: $small-medium) {
        height:180px;
        width:350px;
    }

    @media only screen and (max-width: $small) {
        height:160px;
        width:320px;
    }

    @media only screen and (max-width: $popup-height) {
        height:140px;
        width:290px;
    }

    @media only screen and (max-width: $x-small) {
        height:120px;
        width:270px;
    }

    @media only screen and (max-width: $iphone) {
        height:120px;
        width:270px;
    }

    @media only screen and (max-width: 350px) {
        height:110px;
        width:240px;
        padding:5px;
    }

    form{
        text-align: center;
    }

    h1{
        font-size:1.5em;
        font-family: 'Open Sans', Arial, sans-serif;
        line-height:1.5em;
        margin:auto;
        margin-top:30px;
        font-weight: 600;
        color:#000;
        padding:0.5em 0 0 0;
        span{
            text-transform: uppercase;
        }

        @media only screen and (max-width: $medium) {
            margin-top:20px;
            font-size:1.2em;
        }

        @media only screen and (max-width: $small-medium) {
            margin-top:20px;
            font-size:1.1em
        }

         @media only screen and (min-width: $small) {
            padding:0;
         }

         @media only screen and (max-width: $small) {
            font-size:1em;
            max-width:330px;
            margin-top:10px;
         }

        @media only screen and (max-width: $popup-height){
            font-size:0.9em;
            max-width:260px;
            margin-top:3px;
        }

        @media only screen and (max-width: $x-small) {
            font-size:0.8em;
        }

        @media only screen and (max-width: 350px) {
            margin-top:2px;
        }
    }
    label{
        margin-bottom:1em;
    }
    input{
        margin:1em 0 0.5em 0;
        min-height:4em;

        @media only screen and (max-width: $small) {
            min-height:2em;            
        }

        @media only screen and (max-width: $iphone) {
            margin-top:0.2em;  
            font-size:0.7em !important;       
        }
    }
    p{
        font-size:0.875em;
        line-height:1.5em;
        font-family:$base_font;
        font-weight:500;
        padding: 0;
        text-align:center;
        margin-bottom:1em;
        a{
            color:$checkmark_color;
        }
    }
}

.controls{

    height:2.4em;
    background:$black;
    width:100%;

    @media only screen and (max-width: $small) {
        height:1.8em;
    }

    @media only screen and (max-width: $x-small) {
        height:1.6em;
    }
    ul{
        margin:0;
        float:left;

        &:nth-child(1){
            width:20%;

            @media only screen and (max-width: 850px) {
                width:25%;
            }

            @media only screen and (max-width: 700px) {
                width:20%;
            }

            li{
                &:nth-child(1){
                    width:10%;
                    margin:0 7%;

                    @media only screen and (max-width: 700px) {
                        margin:0;
                        width:50%;
                    }
                }

                &:nth-child(2){
                    width:12%;

                    @media only screen and (max-width: 700px) {
                        width:50%;
                    }
                }

                &:nth-child(3){
                    width:60%;

                    @media only screen and (max-width: 700px) {
                        display: none;
                    }
                }
            }
        }

        &:nth-child(2){
            width:60%;

            li{
                &:nth-child(1){
                    width:10%;

                    @media only screen and (max-width: 750px) {
                        width:5%;
                    }
                }

                &:nth-child(2){
                    width:90%;

                    @media only screen and (max-width: 750px) {
                        width:95%;
                    }
                }
            }
        }

        &:nth-child(3){
            width:20%;

            @media only screen and (max-width: 850px) {
                width:10%;
                margin-right:10px;
                float:right;
            }

            @media only screen and (max-width: 700px) {
                width:20%;
                margin:0;
            }

            li{
                &:first-child{
                    @media only screen and (max-width: 850px) {
                        display: none;
                    }
                }
            }
        }
        li{
            margin:0;
            width:33%;
            text-align: center;

            @media only screen and (max-width: 850px) {
                width:50%;
            }

            a{
                display: inline-block;
                .icon-pause,.icon-vol,.icon-fullscreen,.icon-play{
                    color:#FFF;
                    line-height: 1.7em;
                    font-size:1.5em;

                    @media only screen and (max-width: $small) {
                        line-height: 1.3em;
                        font-size:1.3em;
                    }

                    @media only screen and (max-width: $x-small) {
                        line-height: 1.5em;
                        font-size:1.2em;
                    }
                 }

                .icon-pause{
                    display:none;
                }

                .icon-hd{
                    line-height: 1.6em;
                    font-size:1.5em;
                    color:#FFF;
                }

                .settings-icon{
                    float:left;
                    margin-top:10px;
                }

                .hd-icon{
                    float:left;
                    margin-top:8px;
                    width: 23px;

                    @media only screen and (max-width: $small) {
                        margin-top:3.5px;
                        width:20px;
                    }

                    @media only screen and (max-width: $x-small) {
                        margin-top:4.5px;
                        width:18px;
                    }
                }

                .fullscreen{
                    float:left;
                }
            }

            .slider{
                margin-top:1.25em ;
                width:80% ;
                padding:0 10%;
            }

            .output{
                opacity:0;
                cursor:default;
            }

            .track{
                background: #333333;
            }

            .timer{
                color: #CFCFCF;
                font-family: $timer_font;
                font-size:0.8em;
                display:block;
                margin-top:1.1em;

                @media only screen and (max-width: 750px) {
                    opacity: 0;
                }
            }

            .time{
                height: 0.7em;
                width:100%;
                margin-top:0;
                background: #333333;
                position:relative;
                top:0.6em;
                left:0.6em;
                border: 1px solid $black;
                @include box-shadow-all(inset 0 2px 4px rgba(0,0,0,0.1));

                @media only screen and (max-width: 750px) {
                    left:-0.4em;
                }
                
                @media only screen and (max-width: $small) {
                    top:0.6em;
                    height: 0.6em;
                }

                @media only screen and (max-width: $x-small) {
                    top:0.55em;
                }

                @media only screen and (min-width: $small) {
                    top:0.85em;
                }

                .time-full{
                    height: 0.6em;
                    position:absolute;
                    @include gradiant($slider_highlight_light,$slider_highlight_dark);
                    border-color: $slider_highlight_border;
                    width:0%;
                    z-index:3;
                    left:0;

                    @media only screen and (max-width: $small) {
                        height: 0.45em;
                    }
                }

                .time-buffer{
                    height: 0.6em;
                    position:absolute;
                    background-color:#1d446d;
                    border-color: $slider_highlight_border;
                    width:0;
                    z-index:2;
                    left:0;
                    background-image: linear-gradient(-45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
                    background-size: 4px 4px;
                    -webkit-animation: progress-bar-stripes 1s linear infinite;

                    @media only screen and (max-width: $small) {
                        height: 0.45em;
                    }
                }
            }
        }
    }
}


.clear{
    clear:both;
}


/////////////////////////////////////////////////
//// Video //// $VIDEO
/////////////////////////////////////////////////

.mod-columns{
    padding-left: 0;
    padding-right: 0;
     @media only screen and (min-width: $small) {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
     }
}

.header-wrapper{
    width:100%;
    background: #2e83c3; /* Old browsers */
    background: -moz-linear-gradient(top,  #2e83c3 0%, #6bace0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2e83c3 0%,#6bace0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2e83c3 0%,#6bace0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e83c3', endColorstr='#6bace0',GradientType=0 ); /* IE6-9 */

    @media only screen and (max-width: $medium-large) {
        height:52px;
    } 

    .tabs-wrapper{
        height:42px;
        margin-top:12px;
        margin-left:14px;
        background:#86bbe3;
        border-radius:4px 4px 0px 0px;
        -webkit-box-shadow: 0 0 4px 1px #9E9E9E;
        box-shadow: 0 0 4px 1px #9E9E9E;

        @media only screen and (max-width: $medium-large) {
            display:none;
        }        
    }

    .tabs-wrapper-mobile{
        display:none;
        height:42px;
        margin-top:6px;
        float:right;
        position:absolute;
        right:0px;
        width:75px;

        @media only screen and (max-width: $medium-large) {
            display:block;
        }

        @media only screen and (max-width: $x-small) {
            width:63px;
        } 

        img{
            width:24px;

            @media only screen and (max-width: $x-small) {
                width:20px;
            }  
        }               
    }

    .search{
        position:relative;
        float:left;
        width:240px;
        height:22px;
        margin-top:9px;
        border:1px solid #bfbfbf;
        background:#FFF;
        font-size:14px;
        color:#666;
        padding:5px 5px 0px 5px;
        letter-spacing:-0.2px;

        @media only screen and (max-width: 1015px) {
            width:220px;
        }

        @media only screen and (max-width: $large) {
            display:none;
        }
    }

    .search-icon{
        position:absolute;
        height:20px;
        top:0;
        left:92.3%;
    }

    .mobile-search{
        display:none;
        float:left;

        @media only screen and (max-width: $large) {
            display:block;
            width:24px;
            margin-top:9px;
            margin-right:10px;
        }
    }

    .menu-wrapper{
        float:left;
        margin-left:15px;
    }

    .tab{
        float:left;
        font-weight:bold;
        font-size:0.9em;
        margin-top:15px;
        margin-right:7px;
        text-shadow: 0 1px 4px #6E6E6E;
        cursor:pointer;
    }

    .tab a{
        color:#FFF;
    }

    .tab:hover{
        text-decoration:underline;
    }

    .logo-img{
        width:180px;
        margin-top:22px;

        @media only screen and (max-width: $medium-large) {
            display:none;
        }      
    }

    .logo-img-mobile{
        width:180px;
        margin-top:18px;
        display:none; 

        @media only screen and (max-width: $medium-large) {
            display:block;
            margin-top:14px;
            margin-left:-5px;
        }  

        @media only screen and (max-width: $x-small) {
            width:160px;
            margin-top:15px;
        } 
    }
}


.video-container{
    padding:0;
    border-bottom: none;
    padding:5px 35px 21px;
    background:#EAEAEA;

    @media only screen and (max-width: $x-large) {
        padding:15px 28px 21px;
    }

    @media only screen and (max-width: $small) {
        padding:5px 15px 21px;
    } 

    @media only screen and (max-width: $x-small) {
        padding:5px 15px 7px;
    }
}

.main-video{
    position:relative;
    width:100%;
    height: auto;
    background: #000;

    .video-img{
        width:100%;
        height:auto;
    }

    .overlay-video{
        position:absolute;
        width:100%;
        height:100%;
        background: #000;
        display:inline-block;
    }

    #overlay{
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100 !important;
        background-color: #000400;
        filter: alpha(opacity=1);
        -khtml-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}

.img-bg{
    background-color:$black;
}

.video-player{
    position:relative;
    margin:0 auto;
}



header{

    a{
        color:#fff;
        font-size:11px;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    .social-media{
        background: url("../images/bg-top.jpg") repeat ;
        background-color: #393939;
        width:100%;

        .float1{
            float:left;

            @media only screen and (max-width: 830px) {
                float:none;
                text-align: center;
            } 

            ul{
                margin:0;
                padding:10px 0;
                display:inline-block;

                li{
                    margin:0;
                    &:first-child{
                        a{
                            background: rgb(76,105,186); /* Old browsers */
                            background: -moz-linear-gradient(top,  rgba(76,105,186,1) 0%, rgba(59,85,160,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top,  rgba(76,105,186,1) 0%,rgba(59,85,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom,  rgba(76,105,186,1) 0%,rgba(59,85,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c69ba', endColorstr='#3b55a0',GradientType=0 ); /* IE6-9 */
                            border-radius: 2px;
                            padding: 3px 5px;
                            float:left;

                            &:hover{
                                border-color: #5874c3 #4961a8 #41599f;
                                box-shadow: inset 0 0 1px #607fd6;
                                background: rgb(91,123,213); /* Old browsers */
                                background: -moz-linear-gradient(top,  rgba(91,123,213,1) 0%, rgba(72,100,177,1) 100%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(top,  rgba(91,123,213,1) 0%,rgba(72,100,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom,  rgba(91,123,213,1) 0%,rgba(72,100,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7bd5', endColorstr='#4864b1',GradientType=0 ); /* IE6-9 */

                            }
                            span{
                                &:first-child{
                                    text-shadow: 0 -1px 0 #354c8c;
                                    background: url("../images/facebook.svg") no-repeat;
                                    background-size:14px;
                                    padding: 2px 0 0 19px;
                                    height:14px;
                                    display:inline-block;
                                }
                            }
                        }
                    }

                    & > div{
                        float:left;
                        border: 1px solid #9197a3;
                        position: relative;
                        margin-left:7px;
                        border-radius: 2px;
                        background:#fff;

                        div{

                            &:nth-child(1){
                                height: 0;
                                left: -6px;
                                position: relative;
                                top: 3.5px;
                                width: 5px;
                                z-index: 2;
                                display:inline-block;
                                float:left;

                                s, i{
                                    border-color: transparent #9197a3;
                                    border-style: solid;
                                    border-width: 4px 5px 4px 0;
                                    display: block;
                                    position: relative;
                                    top: 1px; 
                                }

                                i{
                                    border-right-color: #fff;
                                    left: 2px;
                                    top: -7px;
                                }
                            }

                            &:nth-child(2){
                                font-size:11px;
                                color: #4e5665;
                                padding:3.5px 3px;
                                margin:0;
                            }
                        }
                    }

                    &:not(:first-child){
                        margin-left:20px;

                        a{
                            background-color: #1b95e0;
                            font-weight: 500;
                            border-radius: 3px;
                            padding: 3px 6px;

                            &:hover{
                                background-color: #0c7abf;
                            }

                            & span{
                                padding: 2px 0 0 19px;
                                background: url("../images/twitter.svg") no-repeat;
                                background-size:14px;
                                height:14px;
                                display:inline-block;
                            }
                        }
                    }
                }
            }
        }

        .float2{
            float:right;

            @media only screen and (max-width: 830px) {
                float:none;
                text-align: center;
            }

            @media only screen and (max-width: $small-medium) {
                display:none;
            }
            ul{
                margin:0;
                padding:4.5px 0;
                display:inline-block;
                li{
                    margin:0;
                    a{
                        display:inline-block;
                        font-family: 'Oswald', 'Arial', sans-serif;

                        &:hover{
                            color:rgba(0,0,0,.35);
                        }

                        .img_social{
                            opacity:.35;
                            display:inline-block;
                        }

                        span{
                            float:left;

                            &:last-child{
                                border-left: 2px solid rgba(0,0,0,0.1);
                            }
                        }
                    }

                    &:nth-child(1){
                        a{
                            background-color: #3B5998;
                            padding: 4.5px 5.7px 4.5px 0;
                            
                            span{
                                &.img_social{
                                    background: url("../images/social-facebook.svg") no-repeat;
                                    background-size:16px;
                                    background-position: -4px 0;
                                    height:16px;
                                    width:8px;
                                    margin:2px 9px;
                                }

                                &:last-child{
                                    padding: 4.5px 0 4.5px 3px;
                                }
                            }
                        }
                    }

                    &:nth-child(2){
                        margin:0 10px;
                        a{
                            background-color: #00A7FD;
                            padding: 4.5px 15.1px 4.5px 0;
                            
                            span{
                                &.img_social{
                                    background: url("../images/social-twitter.svg") no-repeat;
                                    background-size:14px;
                                    height:14px;
                                    width:14px;
                                    margin:3px 6px;
                                }

                                &:last-child{
                                    padding: 4.5px 0 4.5px 3px;
                                }
                            }
                        }
                    }

                    &:nth-child(3){
                        a{
                            background-color: #F2553B;
                            padding: 4.5px 20.8px 4.5px 0;
                            
                            span{
                                &.img_social{
                                    background: url("../images/social-google.svg") no-repeat;
                                    background-size:17px;
                                    background-position: -3px 0;
                                    height:17px;
                                    width:11px;
                                    margin: 2px 7.5px 1px;
                                }

                                &:last-child{
                                    padding: 4.5px 0 4.5px 3px;
                                }
                            }
                        }
                    }

                    &:nth-child(4), &:nth-child(5){
                        a{
                            color:#979797;
                            font-family: 'Helvetica', 'Arial', sans-serif;
                            font-weight:bold;
                            font-size:12px;
                            border-radius: 3px;
                            border:1px solid #979797;
                            background:transparent;

                            &:hover{
                                border:1px solid #fff;
                                color:#fff;
                            }
                        }
                    }

                    &:nth-child(4){
                        margin:0 5px 0 15px;
                        a{
                            padding: 6px 27.5px;
                        }
                    }

                    &:nth-child(5){
                        a{
                            padding: 6px 23px;
                        }
                    }
                }
            }
        }
    }
    .header-container{

        .header-1{
            display: inline-block;
            float:left;
            width: 370px;

            @media only screen and (max-width: $medium-large) {
                width:auto;
            }

            
            a{
                background: url("../images/logo.png") no-repeat;
                width:280px;
                height:71px;
                background-size:280px;
                display: inline-block;

                &:hover{
                    background: url("../images/logo-hover.png") no-repeat;

                    @media only screen and (max-width: $small) {
                        width:218px;
                        height:55px;
                        background-size:218px;
                    }
                }

                @media only screen and (max-width: $small) {
                    width:218px;
                    height:55px;
                    background-size:218px;
                }
            }
        }

        .header-4{
            display:none;

            @media only screen and (max-width: $medium-large) {
                display:inline-block;
                float:right;
            }


            a{
                display:inline-block;
                background: url("../images/menu-icon.png") no-repeat;
                width:35px;
                height:35px;
                background-size:35px;
                margin:19px 0;

                &:hover{
                    opacity: 0.7;
                }

                @media only screen and (max-width: $small) {
                    width: 30px;
                    height: 30px;
                    background-size: 30px;
                    margin: 12.5px 0;
                }
            }
        }

        .header-3{
            margin: 20px 0 0;
            padding: 0;
            float: right;
            display:inline-block;


            @media only screen and (max-width: $medium-large) {
                float:left;
                margin:20px 20px 0;
            }

            @media only screen and (max-width: 752px) {
                float:none;
                margin:0 0 4px 0;
                width:100%;
                text-align: center;
            }

            .search-box{
                width:350px;
                display: inline-block;
                

                @media only screen and (max-width: 752px) {
                     margin: 0 auto;
                }

                @media only screen and (max-width: $x-small) {
                    max-width: 300px;
                }

                @media only screen and (max-width: $iphone) {
                    max-width: 290px;
                }

                .rounded-corners {
                    display: inline-block;
                    width:100%;
                    height: 34px;
                    border: 6px solid #e0eff7;
                    z-index: 9999;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px;
                    position: relative;
                    margin:0;


                    .input-div{
                        width:100%;
                        height: 100%;
                        border: none;
                        border-top: 1px solid #a4a4a4;
                        border-left: 1px solid #a4a4a4;
                        margin: 0;
                        padding: 3px 0 0 5px;
                        float: left;
                        z-index: 9999;
                        color: #666;
                        font-family: Verdana, Arial, Helvetica, sans-serif;
                        font-size:10px;

                        .ui-helper-hidden-accessible {
                            position: absolute !important;
                            clip: rect(1px 1px 1px 1px);
                            clip: rect(1px,1px,1px,1px);
                        }
                    }

                    .search-button{
                        width:auto;
                        float:left;
                        color:#fff;
                        font-size:11.5px;
                        font-weight:600;
                        background: rgb(2,143,173); /* Old browsers */
                        background: -moz-linear-gradient(top,  rgba(2,143,173,1) 0%, rgba(0,105,122,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  rgba(2,143,173,1) 0%,rgba(0,105,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  rgba(2,143,173,1) 0%,rgba(0,105,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028fad', endColorstr='#00697a',GradientType=0 ); /* IE6-9 */
                        border:1px solid #014E68;
                        text-transform: capitalize;
                        padding: 0 9px;
                        height: 100%;
                        font-family:'Open Sans', Arial, sans-serif;
                        position: absolute;
                        right:0;
                    }
                }

                div{
                    float:left;
                }
            }
        }
    }

    .menu{

        @media only screen and (max-width: $medium-large) {
            display:none;
        }

        nav{
            background-color: #232323;
            height:38px;

            a{
                font-family: "Tahoma",Verdana,Arial,sans-serif;
            }

            ul{
                margin:0;

                li{
                    position: relative;
                    margin:0;
                    a{
                        color: #f0f0f0;
                        padding:0 10px;
                        font-size:12px;
                        text-transform: uppercase;
                        height:100%;
                        line-height:38px;

                        &:hover{
                            color: #D00019;
                        }

                        @media only screen and (max-width: 1008px) {
                            padding:0 7px;
                            font-size:11px;
                        }
                    }

                    span{
                        width: 0;
                        height: 0;
                        border-left: 8.5px solid transparent;
                        border-right: 8.5px solid transparent;
                        border-top: 7px solid #ddd;
                        position: absolute;
                        left:0;
                        right:0;
                        top:0;
                        margin:0 auto;
                        opacity:0;

                    }

                    &:hover span{
                        opacity:1;
                    } 

                    &:last-child{
                        float:right;
                        a{
                            border: 4px solid red;
                            color: red;
                            background: white;
                            line-height: 30px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.links-bg{
    background:#EAEAEA;
    padding:0 0 21px;
    display: inline-block;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: $x-small) {
        padding:0 0 4px;
    }
}

.links-container{
    background-color: #fbfbfb;
    padding:13px 11px;
    margin: 0 12.83px;
    border-bottom: 20px solid #d9d9d9;

    @media only screen and (max-width: 651px) {
        margin: 0 14px;
    }

    @media only screen and (max-width: $small) {
        margin:0;
        padding:8px 5px;
    }

    .title-links{
        border-bottom:1px solid #315888;
        display: inline-block;
        width:100%;
        & > p{
            display: inline-block;
            font-size:19px;
            color:#000;
            font-weight:bold;
            margin:0;

            @media only screen and (max-width: $small) {
                font-size:15px;
                line-height: 24px;
            }

            @media only screen and (max-width: $x-small) {
                font-size:14px;
                margin: 0 0 7px;
            }

            @media only screen and (max-width: $iphone) {
                font-size:12px;
                line-height: 23px;
            }

            a{
                text-decoration: underline;
                color: #177ebb;

                &:first-child{
                    display:inline-block;
                    @media only screen and (max-width: 927px) {
                        display:none;
                    }
                }

                &:not(first-child){
                    display: none;
                    @media only screen and (max-width: 927px) {
                        display:inline-block;
                        text-transform: lowercase;
                    }
                }

                &:hover{
                    color: #2a6496;
                }
            }
        }

        .domain-list{
            display: inline-block;
            color:#000;
            position: relative;
            margin:0 0 11px 33px;

            @media only screen and (max-width: $medium) {
                display:inline-block;
                margin:0 0 11px;
                float:right;
            }

            @media only screen and (max-width: $small) {
                margin:0 0 7px;
            }

            @media only screen and (max-width: $x-small) {
                display: none;
            }

            & >div{
                border-left:2px solid #ddd;
                border-right:22px solid #ddd;
                border-top:2px solid #ddd;
                border-bottom:2px solid #ddd;
                display: inline-block;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;

                @media only screen and (max-width: $medium) {
                    border-right:20px solid #ddd;
                }

                @media only screen and (max-width: $iphone) {
                    border-right:18px solid #ddd;
                }

                p{
                    font-size:14px;
                    display: inline-block;
                    margin:0;
                    font-weight: bold;
                    padding: 7px 18px 7px 9px;

                    @media only screen and (max-width: $medium) {
                        font-size:12px;
                        padding: 4.5px 5px 4.55px 4px;
                    }

                    @media only screen and (max-width: $iphone) {
                        font-size:11px;
                        padding: 3.5px 4px 3.55px 3px;
                    }
                }
            }
            
            &:after{
                content: '';
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-top: 6px solid #fff;
                position: absolute;
                right: 8.5px;
                bottom: 0;
                top: 14px;

                @media only screen and (max-width: $medium) {
                    right: 7px;
                    top: 12px;
                }

                @media only screen and (max-width: $iphone) {
                    right: 6.5px;
                    top: 11px;

                }
            }
        }
    }

    .links{
        div{
            border-bottom: 1px solid #000;
            padding: 4px 0;

            @media only screen and (max-width: $medium) {
                padding: 1px 0;
            }
            ul{
                width:100%;
                margin:0;
                padding-left: 8px;

                 @media only screen and (max-width: $iphone) {
                    padding-left: 1px;
                }
                li{
                    width:33%;
                    margin:0;

                    &:first-child{
                        font-size:13px;
                        color:#000;
                        padding: 1px 0 1px 24px;
                        margin: 2.5px 0;

                        @media only screen and (max-width: $small) {
                            font-size:12px;
                        }

                        @media only screen and (max-width: $x-small) {
                            font-size:11px;
                            padding: 1px 0 1px 20px;
                        }
                    }

                    &:nth-child(2){
                        text-align: center;
                        a{
                            color:#000;
                            font-size:12px;
                            border: 1px solid #315888;
                            display: inline-block;
                            padding:4px 3px;

                            @media only screen and (max-width: $small) {
                                font-size:11px;
                            }

                            &:first-child{
                                display:inline-block;
                                @media only screen and (max-width: $x-small) {
                                    display:none;
                                }
                            }

                            &:not(first-child){
                                display: none;
                                @media only screen and (max-width: $x-small) {
                                    display:inline-block;
                                }
                            }

                            @media only screen and (max-width: $medium) {
                                border:none;
                            }

                            &:hover{
                                border:1px solid #D70000;

                                @media only screen and (max-width: $medium) {
                                    border:none;
                                }
                            }
                        }
                    }

                    &:last-child{
                        text-align: center;
                        margin: 1.5px 0;
                        a{
                            color: #177ebb;
                            font-size:12px;
                            display: inline-block;

                            @media only screen and (max-width: $small) {
                                font-size:11px;
                            }

                            &:hover{
                                text-decoration: underline;
                                color:#D70000;
                            }
                        }
                    }   
                }
            }

            /*&:nth-child(1){
                li{
                    &:first-child{
                        background: url("../images/gorillavid.in.png") no-repeat;
                        height:16px;
                        background-size:16px; 
                    }
                }
            }

            &:nth-child(2){
                li{
                    &:first-child{
                        background: url("../images/allmyvideos.net.png") no-repeat;
                        height:16px;
                        background-size:16px; 
                    }
                }
            }

            &:nth-child(3){
                li{
                    &:first-child{
                        background: url("../images/vidbull.com.png") no-repeat;
                        height:16px;
                        background-size:16px; 
                    }
                }
            }

            &:nth-child(4){
                li{
                    &:first-child{
                        background: url("../images/vodlocker.com.png") no-repeat;
                        height:16px;
                        background-size:16px; 
                    }
                }
            }

            &:nth-child(5){
                li{
                    &:first-child{
                        background: url("../images/nosvideo.com.png") no-repeat;
                        height:16px;
                        background-size:16px; 
                    }
                }
            }*/
        }
    }

    .page{
        position: relative;
        bottom: -19px;
        ul{
            display:inline-block;
            margin:0;

            li{
                margin:0;
                border: 1px solid #315888;
                background-color:#fff;
                position: relative;

                a{
                    display: inline-block;
                    color:#000;
                    font-size:13px;

                    @media only screen and (max-width: $x-small) {
                        font-size:11px;
                    }
                }

                &:first-child{
                    margin-right:6px;

                    @media only screen and (max-width: $x-small) {
                        margin-right:3px;
                    }
                    a{
                        padding: 6.5px;

                        &:before{
                            content: '';
                            background: url("../images/prev.png") no-repeat;
                            height:16px;
                            background-size:16px;
                            padding: 0 0 0 20px;

                            @media only screen and (max-width: $x-small) {
                                height:auto;
                                background:none;
                                padding: 0;
                            }
                        }

                        @media only screen and (max-width: $x-small) {
                            padding: 5px;
                        }
                    }
                }

                &:not(:first-child){
                    margin-left:6px;

                    @media only screen and (max-width: $x-small) {
                        margin-left:3px;
                    }

                    a{
                        padding: 6.5px;

                        &:after{
                            content: '';
                            background: url("../images/next.png") no-repeat;
                            height:16px;
                            background-size:16px;
                            padding: 0 20px 0 0;
                            background-position: 4px 0;

                            @media only screen and (max-width: $x-small) {
                                height:auto;
                                background:none;
                                padding: 0;
                            }
                        }

                        @media only screen and (max-width: $x-small) {
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}

footer{

    .footer-container{
        background: #0080AE;
        padding: 15px;
        
        @media only screen and (max-width: $small-medium) {
            margin-bottom:48px;
        }
        p{
            color:#fff;
            font-size:12px;
            line-height: 30px;
            margin:0;

            @media only screen and (max-width: $small) {
                font-size:11px;
                line-height: 25px;
            }
            a{
                color: #E5911D;
                font-weight: bold;

                &:hover{
                    color:#fff;
                }
            }
        }
    }
}

    .footer-social{
        position: fixed;
        bottom: 0;
        width:100%;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;

        @media only screen and (max-width: $small-medium) {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        @media only screen and (max-width: $x-small) {
            position: absolute;
        }
        ul{
            margin:0;
            width:100%;
            height:48px;
            margin: 0 0 -2px;
            display: inline-block;
            li{
                width:25%;
                margin:0;
                
                line-height:48px;
                a{
                    text-align: center;
                }
                &:nth-child(1){
                    background-color: #3A5897;
                    a{
                        img{
                            height:20px;
                        }
                    }
                }

                &:nth-child(2){
                    background-color: #1DA1F2;
                    a{
                        img{
                            height:20px;
                        }
                    }
                }

                &:nth-child(3){
                    background-color: #DC4E41;
                    a{
                        img{
                            height:20px;
                        }
                    }
                }

                &:nth-child(4){
                    background-color: #FF6550;
                    a{
                        img{
                            height:17px;
                        }
                    }
                }
            }
        }
    }


