/////////////////////////////////////////////////
/////   Table of Contents //////////////////////
//
//      Atributes              $ATR
//      colors                 $CLR
//      fonts                  $FNT
//
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
//// Atributes //// $ATR
///////////////////////////////////////////////////////////////////////////////////////
$smallest: 310px;
$iphone: 380px;
$x-small: 479px;
$popup-height: 500px;
$small: 639px;
$small-medium: 699px;
$medium: 800px;
$medium-large: 900px;
$rate-now: 961px;
$large: 1000px;
$x-large: 1279px;
$form_alter: 900px;
$background_pattern:                      url("<?= $bkg_img ?>moviepattern.jpg");

///////////////////////////////////////////////////////////////////////////////////////
//// colors //// $CLR
///////////////////////////////////////////////////////////////////////////////////////
$white:                                  #ffffff;
$black:                                  #000000;

$inactive:                               #fc3867;

$body_background_color:                  #F1F1F1;

$color_bar_blue:                         #1f61fe;
$color_bar_red:                          #fc3867;
$color_bar_green:                        #91be19;
$color_bar_yellow:                       #fa9509;
$color_bar_purple:                       #6d43f9;

$square_border_color:                    #337ecc;

$footer_type_color:                      #a0a0a0;

$green_button_primary_color:             #2d6e10;
$green_button_secondary_color:           #409c17;
$hover_green_button_primary_color:       darken(#2d6e10,5%);
$hover_green_button_secondary_color:     darken(#409c17,5%);
$button_shadow_color:                    #6d92bd;

$header_button_primary_color:             #23568c;
$header_button_secondary_color:           lighten(#23568c,15%);
$hover_header_button_primary_color:       darken(#23568c,5%);
$hover_header_button_secondary_color:     darken($header_button_secondary_color,5%);

$checkmark_color:                         #0a7aee;
$divider_color:                           #bfbfbf;

$controls_light_color:                    #222222;
$controls_dark_color:                     $black;

$slider_highlight_light:                  #0a7aee;
$slider_highlight_dark:                   #054080;
$slider_highlight_border:                 #10253d;
$slider_highlight_background:             #111010;

$timer_font_color:                        #8f8f8f;

$player_control_icons:                    rgba($white,0.2);
$percent_counter_color:                   rgba($white,0.5);



////////////////////////////////////////////////////////////////////////////////////////
//// font //// $FNT
////////////////////////////////////////////////////////////////////////////////////////

$base_font:                              'Tahoma', Verdana, Arial, sans-serif;
$timer_font:                             'Droid Sans', sans-serif;


